body {
    background-image: url('images/comic.jpg');
    color: #ffffff;
}

/*.movie-app > .row {*/
/*    overflow-x: auto !important;*/
/*    flex-wrap: wrap !important;*/
/*}*/

.image-container {
    position: relative;
    transition: transform 0.2s;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


a:link {
    text-decoration: none;

}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



.navbarSpan:hover {
    color: darkred;

    animation: animation 1s ease-in-out infinite alternate;
    -moz-animation: animation 1s ease-in-out infinite alternate;
    -webkit-animation: animation 1s ease-in-out infinite alternate;
    -o-animation: animation 1s ease-in-out infinite alternate;
}



@media (max-width: 1333px) {
    .navbarSpan {
        align-content: center;
        padding-left: 10px;
        padding-right: 20px;
        color: #ffffff;
        font-family: 'Caesar Dressing', cursive;
        font-size: 75px;
        text-transform: lowercase;
        vertical-align: middle;

    }

    .navbarLink {
        letter-spacing: 2px;
        align-content: center;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 20px;
        color: #ffffff;
        font-family: 'Amethysta', cursive;
        font-size: 50px;

    }
}



@media (min-width: 1333px) {
    .navbarSpan {
        align-content: center;
        padding-left: 10px;
        padding-right: 20px;
        color: #ffffff;
        font-family: 'Caesar Dressing', cursive;
        font-size: 75px;
        text-transform: lowercase;
        vertical-align: middle;

    }

    .navbarLink {
        letter-spacing: 2px;
        align-content: center;
        padding-top: 20px;
        padding-left: 30%;
        padding-right: 20px;
        color: #ffffff;
        font-family: 'Amethysta', cursive;
        font-size: 50px;

    }
}
@media (max-width: 800px)  {
    .navbarSearch{
        width: 100%;
    }
}
@media (min-width: 800px)  {
    .navbarSearch{
        width: 25%;
    }
}


.navbarLink:hover {
    color: darkred;

    animation: animation 1s ease-in-out infinite alternate;
    -moz-animation: animation 1s ease-in-out infinite alternate;
    -webkit-animation: animation 1s ease-in-out infinite alternate;
    -o-animation: animation 1s ease-in-out infinite alternate;
}

.fire {
    animation: animation 1s ease-in-out infinite alternate;
    -moz-animation: animation 1s ease-in-out infinite alternate;
    -webkit-animation: animation 1s ease-in-out infinite alternate;
    -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
    animation: animation .65s ease-in-out infinite alternate;
    -moz-animation: animation .65s ease-in-out infinite alternate;
    -webkit-animation: animation .65s ease-in-out infinite alternate;
    -o-animation: animation .65s ease-in-out infinite alternate;
}

@keyframes animation
{
    0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
    100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
}

@-moz-keyframes animation
{
    0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
    100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
}

@-webkit-keyframes animation
{
    0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
    100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
}

@-o-keyframes animation
{
    0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
    100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
}

.modalPlot{
    font-family:  Amethysta, fantasy;
    font-weight: bolder;
    font-size: larger;


}
.modalDialog{
    background-image: url('images/comic.jpg');
    color: white;
}







